[data]
    name = "{{ promptStringOnce . "name" "Full name" }}"
    email = "{{ promptStringOnce . "email" "Email address" }}"
    context = "{{ promptStringOnce . "context" "Context (personal/work)" }}"
    theme = "{{ promptString "theme" "jetbrains" }}"

[git]
    autoCommit = true
    autoPush = true

[diff]
    pager = "delta"

[edit]
    apply = true
